.detail {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.comment__items{
    color: rgb(197, 195, 195);
}

.comment__items div{
    background-color: #202327;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.comment__add__item input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(197, 195, 195);
    border-bottom: 1px solid #3e3f41;
}

.comment__add__item div{
    padding: 20px;
}

.add__btn{
    background-color: rgb(0, 174, 255);
    border: none;
    outline: none;
    padding: 10px 20px;
    color: whitesmoke;
}

.detail__goBack{
    background-color: #202327;
    width: fit-content;
    height: fit-content;
    border-radius: 100px;
    box-shadow: 0px 0px 5px rgb(56, 55, 55);
    
}

.goBack__icn{
    color: whitesmoke!important;
}

.detail__post {
  display: flex;
  flex-direction: column;
  background-color: #202327;
  width: 45%;
  border: 1px solid #3e3f41;
  padding: 30px 0 0 0;
  border-radius: 30px;
  /* grid-area: box; */
}

.detail__comment {
  width: 45%;
}

.post__top {
  padding: 0 10px;
  padding-bottom: 20px;
  color: rgb(219, 217, 217);
}

.post__middle {
  width: 100%;
  padding: 0 10px;
}

.post__middle img {
  width: 100%;
  border-radius: 30px;
}

.post__bottom {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px 0 30px;
  /* background-color: rgb(27, 133, 133); */
}

.love {
  display: flex;
  align-items: center;
}

.comment {
  display: flex;
  align-items: center;
}

.post__bottom__icnBtn {
  color: #7f7f83 !important;
  font-size: 15px !important;
}
